<footer class="bg-dark text-light py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Luxury Hotel</h5>
        <p>Experience luxury like never before.</p>
        <p>
          <i class="fas fa-map-marker-alt me-2"></i> 179 Thang Long, Da Nang,
          Viet nam<br />
          <i class="fas fa-phone me-2"></i> +84 (123) 456-7890 <br />
          or +84 (123) 456-7891<br />
          <i class="fas fa-envelope me-2"></i> info@luxuryhotel.com
        </p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white">Home</a></li>
          <li><a href="/rooms" class="text-white">Rooms</a></li>
          <li><a href="/about" class="text-white">About Us</a></li>
          <li><a href="/contact" class="text-white">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Connect With Us</h5>
        <div class="social-icons">
          <a href="#" class="text-white me-3"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="text-white me-3"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
        <div class="mt-3">
          <h6>Subscribe to our newsletter</h6>
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Your Email" />
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-4" />
    <div class="text-center">
      <p class="mb-0">
        &copy; <%= new Date().getFullYear() %> Luxury Hotel. All rights
        reserved.
      </p>
    </div>
  </div>
</footer>
